/*
* Style for the canvas component
*/
.canvasContainer {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.canvas {
  background-color: white;
}
.canvasSection {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}

/* --Mobile Bttn -- */
.mobilBttn {
  flex-grow: 1;
  width: 100%;
}

.mobilBttn > img {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
/* --Mobile Bttn -- */

/* ---Record Section---- */
.recordBttn {
  margin-top: 10px;
}
/* ---Record Section---- */

.canvBttnOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ---Reset Bttn Mobile--- */

.resetBttnMobile {
  margin-top: 10px;
}

.mobileBttnEffect,
.resetBttnMobile > button {
  background-color: #55595c;
  border: none;
  padding: 10px 70px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
/* ---Reset Bttn Mobile--- */

/* ---Download Bttn Mobile--- */
.mobileBttnEffect {
  overflow: hidden;
  position: relative;
  /* position: absolute; */
  margin-top: 10px;
}

.mobileBttnEffect p {
  position: relative;
  transition: all 0.45s ease-Out;
}

#spinAnimMob {
  width: 0;
  height: 0;
  opacity: 0;
  left: 20px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all 0.5s ease-Out;
}

.mobileBttnEffect:hover #spinAnimMob {
  width: 200%;
  height: 700%;
  opacity: 1;
  left: -85px;
  top: -70px;
  background: #ffffff;
  transform: rotate(85deg);
}

.mobileBttnEffect:hover p {
  color: #2d3142;
}

/*
* Small devices (Galazy S5 or Iphone 5/SE )
*/
@media (min-width: 320px) and (max-height: 640px) {
  .mobilBttn > img {
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
  }
  .recordBttn > img {
    width: 80px;
    height: 80px;
  }
  .resetBttnMobile {
    margin-top: 10px;
  }
  .resetBttnMobile > button {
    padding: 10px 40px;
  }
}

/*---Input Text ---*/
.inputTextCanvas {
  position: absolute;
  left: 45%;
  top: 45%;
  background-color: transparent;
  /* right: 0; */
  /* margin-left: auto;
  margin-right: auto; */
  /* top: 50%;
  margin-top: -7.5px; */
  cursor: move;
  border-width: 0;
  height: 20px;
  padding-left: 3px;
  height: auto;
  text-align: center;
  /* transition: width 0.25s; */
}
input[type="text"] {
  /* font-size: 44px; */
}

.inputTextCanvas:focus {
  outline-width: 3px;
  outline-color: #9cb6ea;
  outline-style: solid;
}
/*---Input Text ---*/

/*
* Small devices (small devices, 425px and up)
*/
@media (min-width: 425px) {
}

/*
* Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {
  .canvBttnOptions {
    display: none;
  }
}

/**
* Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {
  .mobilBttn {
    display: none;
  }
}

/**
* Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) {
  .canvasSection {
    margin-top: 30px;
  }
}

/*
* Devices 1024px 750px. Example: Notebook 10"
*/
@media (min-width: 1024px) and (max-height: 750px) {
}
/**
* Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {
}

/*
* Devices 1280px 768px. Example: Notebook 13"
*/
@media (min-width: 1280px) and (max-height: 768px) {
}

/*
* Devices 1024px 750px. Example: Notebook 10"
*/
@media (min-width: 1366px) and (max-height: 768px) {
}
