/*
* Style for the canvas component
*/

.canvasContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.canvas {
  height: 300px;
  width: 300px;
  background-color: white;
  margin-top: 80px;
}

/* --Mobile Bttn -- */
.mobilBttn {
  flex-grow: 1;
  width: 100%;
}

.mobilBttn > img {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
/* --Mobile Bttn -- */

/*
* Small devices (small devices, 425px and up)
*/
@media (min-width: 425px) {
  .canvas {
    width: 350px;
    height: 350px;
  }
}

/*
* Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {
  .canvas {
    width: 500px;
    height: 500px;
  }
}

/**
* Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {
  .canvas {
  }
}
