/*---Send Canvas Cotainer ---*/
.overSendCanv {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 0;
  visibility: hidden;
  z-index: 3; /*Important*/
}
/*---Send Form---*/

.sendCardConta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.sendCardForm {
  width: 250px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.sendCarFormTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 20px;
  background: #00c3cc;
  color: white;
  border-radius: 10px 10px 0 0;
}
.sendCanvFormBdy {
  padding: 10px;
}

.sendCanvFormBdy > div {
  display: flex;
  justify-content: space-around;
}

.sendCanvFormBdy > div > input[type="email"] {
  width: 100%;
  height: 35px;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #e8ebed;
  color: #576366;
  font-size: 14px;
}

.ruleLnFrm {
  height: 2px;
  background: #e8ebed;
  margin: 0px 25px;
}

.sendCvaFrmFttr {
  margin: 0 25px 15px 25px;
  padding: 15px 10px;
}

.sendCvaFrmFttr > a,
.sendCvaFrmFttr > input {
  display: inline-block;
  /* height: 40px; */
  font-family: inherit;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background: #00c3cc;
  color: white;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}
