.sideBarContainer {
  display: none;
  height: 100%;
  width: 100%; /*280px*/
  position: absolute;
  transition: 0.5s;
  font-size: 10px;
  z-index: 2; /*Avoid overlapping of bttn*/
}

.sideBarFirst {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100px; /*100px*/
  background-color: #000000;
  height: 100%;
  overflow-x: hidden;
}

.sideBarSecond {
  color: white;
  width: 180px; /*180px*/
  background-color: black;
  overflow-x: hidden;
  overflow: hidden; /*Remove scroll bar*/
}

.closeSideBar {
  background-color: rgba(0, 0, 0, 0.4);
  flex-grow: 1;
}

/***Sidebar options***/
.sideBarSelection {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 5px;
}

.sideBarSelection:hover {
  background-color: #434e5e;
}
/***Sidebar options***/

/***Sidebar close bttn***/
.sideBarCloseDesk {
  display: none;
}
.sideBarClosebttn {
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}
/***Sidebar close bttn***/

/*
* Small devices (small devices, 425px and up)
*/
@media (min-width: 425px) {
  .sideBarContainer {
  }
}

/*
* Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {
  .sideBarContainer {
    /* display: flex; */
  }
  .sideBarSecond {
    width: 250px;
  }
}

/**
* Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {
  .sideBarContainer {
    display: flex;
    position: relative;
    width: auto;
    font-size: 12px;
  }

  .sideBarSecond {
    display: none;
    width: 250px;
  }

  .closeSideBar {
    display: none;
  }

  .sideBarCloseDesk {
    display: flex;
  }

  .sideBarSelection {
    padding-left: 10px;
  }
}
