.sideBarContainer {
  display: none;
  height: 100%;
  width: 100%; /*280px*/
  position: absolute;
  transition: 0.5s;
}

.sideBarFirst {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100px; /*100px*/
  background-color: blue;
  height: 100%;
  overflow-x: hidden;
}

.sideBarSecond {
  color: white;
  width: 180; /*180px*/
  background-color: teal;
  overflow-x: hidden;
}

.closeSideBar {
  background-color: rgba(0, 0, 0, 0.4);
  flex-grow: 1;
}
/*
* Small devices (small devices, 425px and up)
*/
@media (min-width: 425px) {
  .sideBarContainer {
  }
}

/*
* Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {
  .sideBarContainer {
    /* display: flex; */
  }
  .sideBarSecond {
    width: 250px;
  }
}

/**
* Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {
  .sideBarContainer {
    display: flex;
    position: relative;
    width: auto;
  }

  .sideBarSecond {
    display: none;
  }

  .closeSideBar {
    display: none;
  }
}
